<%= render 'shared/javascripts' %>
               <!-- REVOLUTION SLIDER -->
                    <div id="rev_slider_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="media-carousel-autoplay30" data-source="gallery" style="margin:0px auto;background-color:#26292b;padding:0px;margin-top:0px;margin-bottom:0px;">
<!-- START REVOLUTION SLIDER 5.3.0.2 fullwidth mode -->
  <div id="rev_slider_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.3.0.2">
    <ul>
      <!-- SLIDE  -->
      <li data-index="rs-3" data-transition="fade" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="images/revolution/woman-shopping-2-250x100.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Real Webdesign" data-param1="Regular Image" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
        <!-- MAIN IMAGE -->
        <img src="assets/meraki_code/revolution/woman-shopping-2.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

        <div class="tp-caption tp-shape tp-shapewrapper" id="slide-3-layer-1"
          data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
          data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
          data-width="full"
          data-height="full"
          data-whitespace="nowrap"
          data-type="shape"
          data-basealign="slide"
          data-responsive_offset="on"
          data-responsive="off"
          data-frames='[{"from":"opacity:0;","speed":1500,"to":"o:1;","delay":750,"ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"ease":"nothing"}]'
          data-textAlign="['left','left','left','left']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"
          style="z-index: 5; text-transform: left; background-color:rgba(0, 0, 0, 0.3); border-color:rgba(0, 0, 0, 0.50); border-width:0px;">
        </div>

        <!-- LAYER NR. 2 -->
        <div class="tp-caption title--style-1 tp-resizeme"
          id="slide-3-layer-2"
          data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
          data-y="['bottom','bottom','bottom','bottom']" data-voffset="['70','100','-22','-29']"
          data-fontsize="['40','40','40','40']"
          data-lineheight="['40','40','40','40']"
          data-width="none"
          data-height="none"
          data-whitespace="nowrap"
          data-type="text"
          data-responsive_offset="on"
          data-frames='[{"from":"z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"}]'
          data-textAlign="['left','left','left','left']"
          data-paddingtop="[10,10,10,10]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[10,10,10,10]"
          data-paddingleft="[0,0,0,0]"
          style="z-index: 7; white-space: nowrap;text-transform:left;">

          <span class="strong-500">Coffee is a language in itself.</span>

        </div>

        <div class="tp-caption title--style-1 tp-resizeme"
          id="slide-3-layer-3"
          data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
          data-y="['bottom','bottom','bottom','bottom']" data-voffset="['140','160','-22','-29']"
          data-fontsize="['18','18','1818']"
          data-lineheight="['20','20','40','20']"
          data-width="none"
          data-height="none"
          data-whitespace="nowrap"
          data-type="text"
          data-responsive_offset="on"
          data-frames='[{"from":"z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"}]'
          data-textAlign="['left','left','left','left']"
          data-paddingtop="[10,10,10,10]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[10,10,10,10]"
          data-paddingleft="[0,0,0,0]"
          style="z-index: 7; white-space: nowrap;text-transform:left;">

          <span class="text-uppercase strong-400" style="padding-bottom: 4px; border-bottom: 1px solid #FFF;">Lifestyle</span>

        </div>

        <!-- LAYER NR. 3 -->
        <div class="tp-caption subtitle--style-1 tp-resizeme"
          id="slide-3-layer-4"
          data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
          data-y="['bottom','bottom','bottom','bottom']" data-voffset="['40','40','40','40']"
          data-width="none"
          data-height="none"
          data-whitespace="nowrap"
          data-type="text"
          data-responsive_offset="on"
          data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
          data-textAlign="['left','left','left','left']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"
          style="z-index: 8; white-space: nowrap;text-transform:left;">

          <span class="c-white">January 20, 2017 / Bettie Mavis</span>

        </div>
      </li>

      <!-- SLIDE  -->
      <li data-index="rs-2" data-transition="fade" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500"  data-thumb="assets/meraki_code/revolution/calbuco-250x100.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Calbuco" data-param1="Vimeo Video" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
        <!-- MAIN IMAGE -->
        <img src="assets/meraki_code/revolution/calbuco.jpg"  data-bgposition="center center" data-bgfit="cover" class="rev-slidebg" data-no-retina>

        <!-- BACKGROUND VIDEO LAYER -->
        <div class="rs-background-video-layer"
          data-forcerewind="on"
          data-volume="100"
          data-vimeoid="130622230"
          data-videoattributes="background=1&title=0&amp;byline=0&amp;portrait=0&amp;api=1"
          data-videowidth="100%"
          data-videoheight="100%"
          data-videocontrols="none"
          data-videoloop="none"
          data-forceCover="1"
          data-aspectratio="16:9"
          data-autoplay="true"
          data-autoplayonlyfirsttime="false"
          data-nextslideatend="true">
        </div>

        <!-- LAYER NR. 2 -->
        <div class="tp-caption title--style-1 tp-resizeme"
          id="slide-2-layer-1"
          data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
          data-y="['bottom','bottom','bottom','bottom']" data-voffset="['70','100','-22','-29']"
          data-fontsize="['40','40','40','40']"
          data-lineheight="['40','40','40','40']"
          data-width="none"
          data-height="none"
          data-whitespace="nowrap"
          data-type="text"
          data-responsive_offset="on"
          data-frames='[{"from":"y:bottom;rZ:90deg;sX:2;sY:2;","speed":1500,"to":"o:1;tO:-20% 50%;","delay":500,"ease":"Power3.easeInOut"},{"delay":3000,"speed":1000,"to":"y:50px;opacity:0;","ease":"Power3.easeInOut"}]'
          data-textAlign="['left','left','left','left']"
          data-paddingtop="[10,10,10,10]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[10,10,10,10]"
          data-paddingleft="[0,0,0,0]"
          style="z-index: 7; white-space: nowrap;text-transform:left;">

          <span class="">Look deep into nature.</span>

        </div>

        <div class="tp-caption title--style-1 tp-resizeme"
          id="slide-1-layer-2"
          data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
          data-y="['bottom','bottom','bottom','bottom']" data-voffset="['140','160','-22','-29']"
          data-fontsize="['18','18','1818']"
          data-lineheight="['20','20','40','20']"
          data-width="none"
          data-height="none"
          data-whitespace="nowrap"
          data-type="text"
          data-responsive_offset="on"
          data-frames='[{"from":"y:bottom;rZ:90deg;sX:2;sY:2;","speed":1500,"to":"o:1;tO:-20% 50%;","delay":750,"ease":"Power3.easeInOut"},{"delay":2500,"speed":1000,"to":"y:50px;opacity:0;","ease":"Power3.easeInOut"}]'
          data-textAlign="['left','left','left','left']"
          data-paddingtop="[10,10,10,10]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[10,10,10,10]"
          data-paddingleft="[0,0,0,0]"
          style="z-index: 7; white-space: nowrap;text-transform:left;">

          <span class="text-uppercase strong-400" style="padding-bottom: 4px; border-bottom: 1px solid #FFF;">Travel</span>

        </div>

        <!-- LAYER NR. 3 -->
        <div class="tp-caption subtitle--style-1 tp-resizeme"
          id="slide-2-layer-2"
          data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
          data-y="['bottom','bottom','bottom','bottom']" data-voffset="['40','40','40','40']"
          data-width="none"
          data-height="none"
          data-whitespace="nowrap"
          data-type="text"
          data-responsive_offset="on"
          data-frames='[{"from":"y:bottom;rZ:90deg;sX:2;sY:2;","speed":1500,"to":"o:1;tO:-20% 50%;","delay":750,"ease":"Power3.easeInOut"},{"delay":2500,"speed":1000,"to":"y:50px;opacity:0;","ease":"Power3.easeInOut"}]'
          data-textAlign="['left','left','left','left']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"
          style="z-index: 8; white-space: nowrap;text-transform:left;">

          <span class="c-white">January 20, 2017 / Bettie Mavis</span>

        </div>
      </li>
      <!-- SLIDE  -->
      <li data-index="rs-1" data-transition="fade" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="images/revolution/woman-shopping-1-250x100.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Real Webdesign" data-param1="Regular Image" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
        <!-- MAIN IMAGE -->
        <img src="images/revolution/woman-shopping-1.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

        <div class="tp-caption tp-shape tp-shapewrapper" id="slide-1-layer-1"
          data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
          data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
          data-width="full"
          data-height="full"
          data-whitespace="nowrap"
          data-type="shape"
          data-basealign="slide"
          data-responsive_offset="on"
          data-responsive="off"
          data-frames='[{"from":"opacity:0;","speed":1500,"to":"o:1;","delay":750,"ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"ease":"nothing"}]'
          data-textAlign="['left','left','left','left']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"
          style="z-index: 5; text-transform: left; background-color:rgba(0, 0, 0, 0.3); border-color:rgba(0, 0, 0, 0.50); border-width:0px;">
        </div>

        <!-- LAYER NR. 2 -->
        <div class="tp-caption title--style-1 tp-resizeme"
          id="slide-1-layer-2"
          data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
          data-y="['bottom','bottom','bottom','bottom']" data-voffset="['70','100','-22','-29']"
          data-fontsize="['40','40','40','40']"
          data-lineheight="['40','40','40','40']"
          data-width="none"
          data-height="none"
          data-whitespace="nowrap"
          data-type="text"
          data-responsive_offset="on"
          data-frames='[{"from":"z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"}]'
          data-textAlign="['left','left','left','left']"
          data-paddingtop="[10,10,10,10]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[10,10,10,10]"
          data-paddingleft="[0,0,0,0]"
          style="z-index: 7; white-space: nowrap;text-transform:left;">

          <span class="">Life is to short for regrets.</span>

        </div>

        <div class="tp-caption title--style-1 tp-resizeme"
          id="slide-1-layer-3"
          data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
          data-y="['bottom','bottom','bottom','bottom']" data-voffset="['140','160','-22','-29']"
          data-fontsize="['18','18','1818']"
          data-lineheight="['20','20','40','20']"
          data-width="none"
          data-height="none"
          data-whitespace="nowrap"
          data-type="text"
          data-responsive_offset="on"
          data-frames='[{"from":"z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"}]'
          data-textAlign="['left','left','left','left']"
          data-paddingtop="[10,10,10,10]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[10,10,10,10]"
          data-paddingleft="[0,0,0,0]"
          style="z-index: 7; white-space: nowrap;text-transform:left;">

          <span class="text-uppercase strong-400" style="padding-bottom: 4px; border-bottom: 1px solid #FFF;">Lifestyle</span>

        </div>

        <!-- LAYER NR. 3 -->
        <div class="tp-caption subtitle--style-1 tp-resizeme"
          id="slide-1-layer-4"
          data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
          data-y="['bottom','bottom','bottom','bottom']" data-voffset="['40','40','40','40']"
          data-width="none"
          data-height="none"
          data-whitespace="nowrap"
          data-type="text"
          data-responsive_offset="on"
          data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
          data-textAlign="['left','left','left','left']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"
          style="z-index: 8; white-space: nowrap;text-transform:left;">

          <span class="c-white">January 20, 2017 / Bettie Mavis</span>

        </div>
      </li>
    </ul>
    <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
  </div>
</div><!-- END REVOLUTION SLIDER -->

                    <section class="sct-color-2">
                        <div class="container">
                            <span class="space-xs-md"></span>
                            <!-- Section title -->
                            <div class="section-title section-title--style-1 text-xs-center mb-0">
                                <h3 class="section-title-inner heading-6 strong-600 text-uppercase">
                                    Latest posts
                                </h3>
                            </div>

                            <!-- Articles -->
                            <div class="mt-2 py-2 b-xs-top">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="block block--style-3 z-depth-1-bottom">
                                            <div class="block-image">
                                                                                                <img src="images/prv/blog/img-promo-1.jpg">
                                                                                                <span class="block-date-over">Jun 10</span>
                                            </div>
                                            <div class="block-body text-xs-center">
                                                <h5 class="heading heading-xs c-gray-light text-uppercase strong-500 letter-spacing-2 mb-0">Lifestyle</h5>

                                                <span class="short-delimiter short-delimiter--style-1 short-delimiter-light  short-delimiter-center short-delimiter-lg"></span>

                                                <h3 class="heading heading-5 strong-600 text-normal">
                                                    <a href="#">
                                                        Clamtown weekly news                                                    </a>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="block block--style-3 z-depth-1-bottom">
                                            <div class="block-image">
                                                                                                <img src="images/prv/blog/img-promo-3.jpg">
                                                                                                <span class="block-date-over">Jul 23</span>
                                            </div>
                                            <div class="block-body text-xs-center">
                                                <h5 class="heading heading-xs c-gray-light text-uppercase strong-500 letter-spacing-2 mb-0">Nutrition</h5>

                                                <span class="short-delimiter short-delimiter--style-1 short-delimiter-light  short-delimiter-center short-delimiter-lg"></span>

                                                <h3 class="heading heading-5 strong-600 text-normal">
                                                    <a href="#">
                                                        Fall in love with Tribus                                                    </a>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="block block--style-3 z-depth-1-bottom">
                                            <div class="block-image">
                                                                                                <img src="images/prv/blog/img-promo-4.jpg">
                                                                                                <span class="block-date-over">Aug 25</span>
                                            </div>
                                            <div class="block-body text-xs-center">
                                                <h5 class="heading heading-xs c-gray-light text-uppercase strong-500 letter-spacing-2 mb-0">Fitness</h5>

                                                <span class="short-delimiter short-delimiter--style-1 short-delimiter-light  short-delimiter-center short-delimiter-lg"></span>

                                                <h3 class="heading heading-5 strong-600 text-normal">
                                                    <a href="#">
                                                        Cracking the Tribus code                                                    </a>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="slice pt-0 sct-color-2">
                        <div class="container">
                            <!-- Category buttons -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="btn-container text-xs-center pt-1 pb-3">
                                        <a href="#" class="btn btn-sm btn-base-1 btn-circle">All</a>
                                        <a href="#" class="btn btn-sm btn-base-3 btn-outline btn-circle">Lifestyle</a>
                                        <a href="#" class="btn btn-sm btn-base-3 btn-outline btn-circle">Nutrition</a>
                                        <a href="#" class="btn btn-sm btn-base-3 btn-outline btn-circle">Fitness</a>
                                        <a href="#" class="btn btn-sm btn-base-3 btn-outline btn-circle">Family</a>
                                        <a href="#" class="btn btn-sm btn-base-3 btn-outline btn-circle">Travel</a>
                                    </div>
                                </div>
                            </div>

                            <!-- Blog posts -->
                            <div class="row">
                                <div class="col-sm-12">

                                    <div class="masonry">
                                        <!-- Masonry size classes - don't remove these -->
                                        <div class="masonry-sizer"></div>
                                        <div class="masonry-gutter-size"></div>

                                        <!-- Masonry item - 1 -->
                                        <div class="masonry-item">
                                            <div class="block block--style-3 z-depth-1-bottom">
                                                <div class="block-image">
                                                                                                        <img src="images/prv/blog/img-1.jpg">
                                                                                                        <span class="block-date-over">Feb 21</span>
                                                </div>
                                                <div class="block-body">
                                                    <h5 class="heading heading-xs c-gray-light text-uppercase strong-500 letter-spacing-2 mb-0">Nutrition</h5>

                                                    <span class="short-delimiter short-delimiter--style-1 short-delimiter-light short-delimiter-sm"></span>

                                                    <h3 class="heading heading-5 strong-600 text-normal">
                                                        <a href="#">
                                                            Fall in love with Tribus                                                        </a>
                                                    </h3>

                                                    <div class="">
                                                        <ul class="inline-links inline-links--style-2">
                                                            <li>
                                                                February 21, 2017                                                            </li>
                                                            <li>
                                                                by David Wally                                                            </li>
                                                        </ul>

                                                        <p class="mt-2">
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna enim ad minim veniam.
                                                        </p>

                                                        <a href="#" class="btn-link btn-base-4 btn-outline btn-icon-right btn-circle btn-hover-nobg mt-1">
                                                            Read more<i class="icon ion-arrow-right-c"></i>
                                                        </a>
                                                    </div>

                                                    <div class="pt-1 mt-2 b-xs-top">
                                                        <div class="row flex flex-items-xs-middle">
                                                            <div class="col col-xs-12">
                                                                <ul class="inline-links inline-links--style-2">
                                                                    <li>
                                                                        <a href="#">
                                                                            <i class="fa fa-heart"></i> 50
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <i class="fa fa-eye"></i> 750
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                            <i class="fa fa-comment"></i> 9
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <div class="dropup">
                                                                            <a class="dropdown-toggle" href="#" id="postShare-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                <i class="fa fa-share-alt"></i>
                                                                            </a>
                                                                            <ul class="dropdown-menu" aria-labelledby="postShare-1">
                                                                                <li><a href="#">Action</a></li>
                                                                                <li><a href="#">Another action</a></li>
                                                                                <li><a href="#">Something else here</a></li>
                                                                                <li role="separator" class="divider"></li>
                                                                                <li><a href="#">Separated link</a></li>
                                                                            </ul>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="masonry-item">
                                            <div class="block block--style-3 z-depth-1-bottom">
                                                <div class="block-image">
                                                                                                        <img src="images/prv/blog/img-1-600x800.jpg">
                                                                                                        <span class="block-date-over">Mar 22</span>
                                                </div>
                                                <div class="block-body">
                                                    <h5 class="heading heading-xs c-gray-light text-uppercase strong-500 letter-spacing-2 mb-0">Fitness</h5>

                                                    <span class="short-delimiter short-delimiter--style-1 short-delimiter-light short-delimiter-sm"></span>

                                                    <h3 class="heading heading-5 strong-600 text-normal">
                                                        <a href="#">
                                                            Cracking the Tribus code                                                        </a>
                                                    </h3>

                                                    <div class="">
                                                        <ul class="inline-links inline-links--style-2">
                                                            <li>
                                                                March 22, 2017                                                            </li>
                                                            <li>
                                                                by David Wally                                                            </li>
                                                        </ul>

                                                        <p class="mt-2">
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna enim ad minim veniam.
                                                        </p>

                                                        <a href="#" class="btn-link btn-base-4 btn-outline btn-icon-right btn-circle btn-hover-nobg mt-1">
                                                            Read more<i class="icon ion-arrow-right-c"></i>
                                                        </a>
                                                    </div>

                                                    <div class="pt-1 mt-2 b-xs-top">
                                                        <div class="row flex flex-items-xs-middle">
                                                            <div class="col col-xs-12">
                                                                <ul class="inline-links inline-links--style-2">
                                                                    <li>
                                                                        <a href="#">
                                                                            <i class="fa fa-heart"></i> 50
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <i class="fa fa-eye"></i> 750
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                            <i class="fa fa-comment"></i> 9
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <div class="dropup">
                                                                            <a class="dropdown-toggle" href="#" id="postShare-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                <i class="fa fa-share-alt"></i>
                                                                            </a>
                                                                            <ul class="dropdown-menu" aria-labelledby="postShare-1">
                                                                                <li><a href="#">Action</a></li>
                                                                                <li><a href="#">Another action</a></li>
                                                                                <li><a href="#">Something else here</a></li>
                                                                                <li role="separator" class="divider"></li>
                                                                                <li><a href="#">Separated link</a></li>
                                                                            </ul>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Masonry item - 3 -->
                                        <div class="masonry-item">
                                            <div class="block block--style-3 z-depth-1-bottom">
                                                <div class="block-image">
                                                                                                        <img src="images/prv/blog/img-2-600x800.jpg">
                                                                                                        <span class="block-date-over">Apr 23</span>
                                                </div>
                                                <div class="block-body">
                                                    <h5 class="heading heading-xs c-gray-light text-uppercase strong-500 letter-spacing-2 mb-0">Family</h5>

                                                    <span class="short-delimiter short-delimiter--style-1 short-delimiter-light short-delimiter-sm"></span>

                                                    <h3 class="heading heading-5 strong-600 text-normal">
                                                        <a href="#">
                                                            Cracking the Tribus code                                                        </a>
                                                    </h3>

                                                    <div class="">
                                                        <ul class="inline-links inline-links--style-2">
                                                            <li>
                                                                April 23, 2017                                                            </li>
                                                            <li>
                                                                by David Wally                                                            </li>
                                                        </ul>

                                                        <p class="mt-2">
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna enim ad minim veniam.
                                                        </p>

                                                        <a href="#" class="btn-link btn-base-4 btn-outline btn-icon-right btn-circle btn-hover-nobg mt-1">
                                                            Read more<i class="icon ion-arrow-right-c"></i>
                                                        </a>
                                                    </div>

                                                    <div class="pt-1 mt-2 b-xs-top">
                                                        <div class="row flex flex-items-xs-middle">
                                                            <div class="col col-xs-12">
                                                                <ul class="inline-links inline-links--style-2">
                                                                    <li>
                                                                        <a href="#">
                                                                            <i class="fa fa-heart"></i> 50
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <i class="fa fa-eye"></i> 750
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                            <i class="fa fa-comment"></i> 9
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <div class="dropup">
                                                                            <a class="dropdown-toggle" href="#" id="postShare-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                <i class="fa fa-share-alt"></i>
                                                                            </a>
                                                                            <ul class="dropdown-menu" aria-labelledby="postShare-1">
                                                                                <li><a href="#">Action</a></li>
                                                                                <li><a href="#">Another action</a></li>
                                                                                <li><a href="#">Something else here</a></li>
                                                                                <li role="separator" class="divider"></li>
                                                                                <li><a href="#">Separated link</a></li>
                                                                            </ul>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Masonry item - 4 -->
                                        <div class="masonry-item">
                                            <div class="block block--style-3 z-depth-1-bottom">
                                                <div class="block-image">
                                                                                                        <img src="images/prv/blog/img-2.jpg">
                                                                                                        <span class="block-date-over">May 24</span>
                                                </div>
                                                <div class="block-body">
                                                    <h5 class="heading heading-xs c-gray-light text-uppercase strong-500 letter-spacing-2 mb-0">Travel</h5>

                                                    <span class="short-delimiter short-delimiter--style-1 short-delimiter-light short-delimiter-sm"></span>

                                                    <h3 class="heading heading-5 strong-600 text-normal">
                                                        <a href="#">
                                                            Best practices for Tribus                                                        </a>
                                                    </h3>

                                                    <div class="">
                                                        <ul class="inline-links inline-links--style-2">
                                                            <li>
                                                                May 24, 2017                                                            </li>
                                                            <li>
                                                                by David Wally                                                            </li>
                                                        </ul>

                                                        <p class="mt-2">
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna enim ad minim veniam.
                                                        </p>

                                                        <a href="#" class="btn-link btn-base-4 btn-outline btn-icon-right btn-circle btn-hover-nobg mt-1">
                                                            Read more<i class="icon ion-arrow-right-c"></i>
                                                        </a>
                                                    </div>

                                                    <div class="pt-1 mt-2 b-xs-top">
                                                        <div class="row flex flex-items-xs-middle">
                                                            <div class="col col-xs-12">
                                                                <ul class="inline-links inline-links--style-2">
                                                                    <li>
                                                                        <a href="#">
                                                                            <i class="fa fa-heart"></i> 50
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <i class="fa fa-eye"></i> 750
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                            <i class="fa fa-comment"></i> 9
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <div class="dropup">
                                                                            <a class="dropdown-toggle" href="#" id="postShare-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                <i class="fa fa-share-alt"></i>
                                                                            </a>
                                                                            <ul class="dropdown-menu" aria-labelledby="postShare-1">
                                                                                <li><a href="#">Action</a></li>
                                                                                <li><a href="#">Another action</a></li>
                                                                                <li><a href="#">Something else here</a></li>
                                                                                <li role="separator" class="divider"></li>
                                                                                <li><a href="#">Separated link</a></li>
                                                                            </ul>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <span class="space-xs-md"></span>

                                    <!-- Pagination -->
                                    <div class="pagination-wrapper text-xs-center mb-2">
                                        <ul class="pagination pagination--style-2 pagination-lg">
                                            <li><a href="#">«</a></li>
                                            <li class="active"><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a href="#">»</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
  