<!-- GLOBAL SEARCH -->
    <section id="sctGlobalSearch" class="global-search">
    <div class="relative">
        <!-- Backdrop for global search -->
        <div class="global-search-backdrop"></div>

        <!-- Search form -->
        <form class="form-horizontal form-global-search" role="form">
            <div class="container relative">
                <div class="row">
                    <div class="col-xs-12">
                        <input type="text" class="search-input" placeholder="Type and hit enter ...">
                    </div>
                </div>

                <!-- Close button -->
                <button type="button" class="global-search-close-btn css-animate" data-target="#sctGlobalSearch" title="Close search bar">
                    <i class="icon ion-close-round"></i>
                </button>
            </div>
        </form>
    </div>
</section>
</div>

                    <section class="parallax-section parallax-section-lg" style="background-image: url('assets/meraki_code/backgrounds/page-title/page-title-img-1.jpg'); background-position: center 13px; min-height: 320px;">

                        <div class="mask mask-base-1--style-1"></div>

                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="py-3">
                                        <h1 class="heading heading-1 c-white strong-400 text-normal">
                                            We are here to help you. <strong class="strong-600">Anytime!</strong>
                                        </h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="slice sct-color-2">
                        <div class="container container-over-top">
                            <div class="container-inner sct-color-1">
                                <!-- Map canvas -->
                                <div id="google-map">
                                    <!-- #google-container will contain the map  -->
                                    <div id="map_canvas" class="map-canvas"></div>
                                    <!-- #cd-zoom-in and #zoom-out will be used to create our custom buttons for zooming-in/out -->
                                    <div id="map-zoom-in"></div>
                                    <div id="map-zoom-out"></div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="slice pt-0 sct-color-2">
                        <div class="container">
                            <div class="block-card-wrapper">
                                <div class="block-card-section z-depth-1-bottom">
                                    <div class="" id="same_height_1">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="px-2 py-2">
                                                    <h3 class="heading heading-6 strong-600 text-uppercase">
                                                        Send us a message
                                                    </h3>

                                                    <!-- Contact form -->
                                                    <form class="form-default form-material mt-3" role="form">
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    <label for="" class="text-uppercase  c-gray-light">Your name</label>
                                                                    <input type="text" class="form-control input-lg" placeholder="">
                                                                    <span class="bar"></span>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    <label for="" class="text-uppercase c-gray-light">Email address</label>
                                                                    <input type="email" class="form-control input-lg" placeholder="">
                                                                    <span class="bar"></span>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    <label for="" class="text-uppercase c-gray-light">Website</label>
                                                                    <input type="text" class="form-control input-lg" placeholder="">
                                                                    <span class="bar"></span>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    <label for="" class="text-uppercase c-gray-light">Phone</label>
                                                                    <input type="text" class="form-control input-lg" placeholder="">
                                                                    <span class="bar"></span>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="form-group">
                                                                    <label for="" class="text-uppercase c-gray-light">Message</label>
                                                                    <textarea class="form-control no-resize" rows="5" placeholder=""></textarea>
                                                                    <span class="bar"></span>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <button type="submit" class="btn btn-lg btn-base-1 mt-1">Send message</button>
                                                    </form>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="same-height bg-base-1" data-same-height="#same_height_1">
                                                    <div class="px-2 py-2">
                                                        <h3 class="heading heading-6 strong-500 text-uppercase">
                                                            Contact information
                                                        </h3>

                                                        <p class="mt-1 mb-1">
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor.
                                                        </p>

                                                        <div class="icon-block--style-3 mb-1 mt-3">
                                                            <i class="icon ion-ios-telephone bg-base-4"></i>
                                                            <span class="heading heading-6 strong-400">
                                                                +33 - 072 4884 2332
                                                            </span>
                                                        </div>

                                                        <div class="icon-block--style-3 mb-1">
                                                            <i class="icon ion-ios-email bg-base-4"></i>
                                                            <span class="heading heading-6 strong-400">
                                                                office@example.com
                                                            </span>
                                                        </div>

                                                        <div class="icon-block--style-3">
                                                            <i class="icon ion-ios-location bg-base-4"></i>
                                                            <span class="heading heading-6 strong-400">
                                                                9975 Emerald Escape, LA
                                                            </span>
                                                        </div>

                                                        <span class="clearfix"></span>

                                                        <div class="text-xs-center">
                                                            <ul class="social-media social-media--style-1-v4 mt-2">
                                                                <li>
                                                                    <a href="#" class="facebook" target="_blank" title="Facebook">
                                                                        <i class="fa fa-facebook"></i>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#" class="instagram" target="_blank">
                                                                        <i class="fa fa-instagram"></i>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#" class="dribbble" target="_blank">
                                                                        <i class="fa fa-dribbble"></i>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#" class="dribbble" target="_blank">
                                                                        <i class="fa fa-github"></i>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <%= render 'shared/javascripts' %>