

                    <!-- REVOLUTION SLIDER -->
 <div id="rev_slider_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="image-hero39" data-source="gallery">
<!-- START REVOLUTION SLIDER 5.3.0.2 fullwidth mode -->
  <div id="rev_slider_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.3.0.2">
    <ul>
      <li data-index="rs-2938" data-transition="slidevertical" data-slotamount="1" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-thumb="assets/meraki_code/revolution/scene-light-1-100x50.jpg"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
        <!-- MAIN IMAGE -->
        <img src="assets/meraki_code/revolution/scene-light-1.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

        <!-- LAYER NR. 1-->
        <div class="tp-caption tp-resizeme" id="slide-2940-layer-1"
          data-x="['right','right','right','right']" data-hoffset="['80','80','0','0']"
          data-y="['bottom','bottom','bottom','bottom']" data-voffset="['-200','-180','0','0']"
          data-width="none"
          data-height="none"
          data-whitespace="nowrap"
          data-type="image"
          data-responsive_offset="on"
          data-frames='[{"from":"x:right;","speed":1500,"to":"o:1;","delay":2500,"ease":"Power3.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
          data-textAlign="['left','left','left','left']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"
          style="z-index: 22;text-transform:left;border-width:0px;">

          <img src="revolution/elements/model-m-2.png" alt="" data-ww="['440px','480px','0','0']" data-hh="['none','none','0','0']" data-no-retina>
        </div>

        <!-- LAYER NR. 2 -->
        <div class="tp-caption title--style-1 c-gray-dark tp-resizeme" id="slide-2938-layer-7"
          data-x="['left','left','center','center']" data-hoffset="['0','0','0','0']"
          data-y="['middle','middle','middle','middle']" data-voffset="['-130','-130','-130','-130']"
          data-fontsize="['32','32','30','30']"
          data-lineheight="['32','32','30','30']"
          data-width="none"
          data-height="none"
          data-whitespace="nowrap"
          data-type="text"
          data-responsive_offset="on"
          data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1000,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
          data-textAlign="['left','left','left','left']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"
          style="z-index: 11; white-space: nowrap;text-transform:left;">

          <span class="strong-500">There is a way</span>

        </div>

        <div class="tp-caption title--style-1 c-gray-dark tp-resizeme" id="slide-2938-layer-8"
          data-x="['left','left','center','center']" data-hoffset="['0','0','0','0']"
          data-y="['middle','middle','middle','middle']" data-voffset="['-70','-70','-70','-70']"
          data-fontsize="['60','60','60','50']"
          data-lineheight="['60','60','60','50']"
          data-width="none"
          data-height="none"
          data-whitespace="nowrap"
          data-type="text"
          data-responsive_offset="on"
          data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1000,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
          data-textAlign="['left','left','left','left']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"
          style="z-index: 11; white-space: nowrap;text-transform:left;">

          <span class="text-uppercase strong-700">To do it better</span>

        </div>

        <!-- LAYER NR. 8 -->
        <div class="tp-caption subtitle--style-1 tp-resizeme" id="slide-2938-layer-10"
          data-x="['left','left','center','center']" data-hoffset="['0','0','0','0']"
          data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
          data-fontsize="['15','15','15','13']"
          data-width="none"
          data-height="none"
          data-whitespace="nowrap"
          data-type="text"
          data-responsive_offset="on"
          data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1250,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
          data-textAlign="['left','left','left','left']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"
          style="z-index: 12; white-space: nowrap; text-transform:left; letter-spacing:2px; font-weight:500;">

          <span class="text-caps">Business / Creative / Real Estate / And more ...</span>

        </div>

        <!-- LAYER NR. 9 -->
        <div class="tp-caption subtitle--style-1 tp-resizeme" id="slide-2938-layer-9"
          data-x="['left','left','center','center']" data-hoffset="['0','0','0','0']"
          data-y="['middle','middle','middle','middle']" data-voffset="['100','100','100','100']"
          data-fontsize="['16','16','16','16']"
          data-lineheight="['24','24','24','22']"
          data-width="['448','356','334','277']"
          data-height="['none','none','76','68']"
          data-whitespace="normal"
          data-type="text"
          data-responsive_offset="on"
          data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1500,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
          data-textAlign="['left','left','left','left']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"

          style="z-index: 13; min-width: 448px; max-width: 448px; white-space: normal; text-transform:left;">

          <div class="text-xs-center text-md-left">
           This world is just a canvas that our stories are being painted on. Let's paint your story.This is the <b>Meraki Code </b>.
          </div>

        </div>

        <!-- LAYER NR. 10 -->
        <div class="tp-caption rev-btn rev-btn" id="slide-2938-layer-8"
          data-x="['left','left','center','center']" data-hoffset="['0', '0','0','0']"
          data-y="['middle','middle','middle','middle']" data-voffset="['210','210','210','210']"
          data-width="none"
          data-height="none"
          data-whitespace="nowrap"
          data-type="button"
          data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-2939","delay":""}]'
          data-responsive_offset="on"
          data-responsive="off"
          data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1750,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(51, 51, 51, 1.00);bg:rgba(255, 255, 255, 1.00);bw:2px 2px 2px 2px;"}]'
          data-textAlign="['left','left','left','left']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[40,40,40,40]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[40,40,40,40]"
          style="z-index: 14; white-space: nowrap; font-size: 16px; line-height: 48px; font-weight: 600; color: rgba(255, 255, 255, 1.00);text-transform:left;background-color:rgba(51, 51, 51, 1.00);border-color:rgba(0, 0, 0, 1.00);border-width:2px;letter-spacing:1px;">

          <span class="text-caps ff-1">Get started today</span>
        </div>
      </li>
    </ul>
    <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
  </div>
</div><!-- END REVOLUTION SLIDER -->

       <section class="slice sct-color-1">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="text-xs-center">
                                        <h1 class="heading heading-2 strong-700 text-uppercase">Meraki Code</h1>
                                        <h3 class="mb-0">
                                            Doing things with love, passion and a lot of soul. Putting yourself in your work.
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="sct-color-2">
                        <div class="">
                            <div class="row row-no-padding flex flex-items-xs-middle">
                                <div class="col col-sm-6 col-xs-12">
                                    <img src="assets/meraki_code/prv/architecture/architecture-homepage-img-1.jpg" class="img-responsive img-center">
                                </div>

                                <div class="col col-sm-6 col-xs-12">
                                    <div class="px-3 py-3 text-xs-center text-lg-left">
                                        <h3 class="heading heading-3 text-normal strong-300">
                                            I am a web developer from New York that can <strong class="stong-600"><br>Transform your Business</strong>.
                                        </h3>
                                        <p class="mt-2">
                                            One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>


                    <section class="sct-color-2">
                        <div class="">
                            <div class="row row-no-padding flex flex-items-xs-middle">
                                <div class="col col-sm-6 col-xs-12">
                                    <div class="px-3 py-3 text-xs-center text-lg-left">
                                        <h3 class="heading heading-3 text-normal strong-300">
                                            Someone you can trust. Someone who is  <strong class="stong-600">Transparent</strong>.
                                        </h3>
                                        <p class="mt-2">
                                            One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.
                                        </p>
                                    </div>
                                </div>
                                <div class="col col-sm-6 col-xs-12">
                                    <img src="assets/meraki_code/prv/architecture/architecture-homepage-img-2.jpg" class="img-responsive img-center">
                                </div>
                            </div>
                        </div>
                    </section>

                       <section class="ss-slice  sct-color-3">
                    <div class="container">
                        <div class="row flex flex-items-xs-middle">
                            <div class="col col-md-6 col-sm-12 col-xs-12">
                                <h2 class="heading heading-3 strong-300 text-normal c-white">
                                    <strong>Excellence</strong> is a continuous process and not an accident
                                </h2>

                                <p class="mt-2">
                                    Here at Meraki Code we value excellence.  We want things to be done with excellence: excellence in mind, excellence with heart, excellent in spirit, excellent in everything that we do. We strive for excellence.
                                </p>

                                <div class="btn-container mt-3">
                                    <a href="#" class="btn btn-lg btn-base-1">Our services</a>
                                </div>
                            </div>

                            <div class="col col-md-6 col-sm-12 col-xs-12">
                                <span class="space-xs-only-2 space-sm-only-2"></span>
                                <!-- 16:9 aspect ratio -->
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/72420965?color=ffffff&title=0&byline=0&portrait=0"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                       <section class="slice sct-color-2">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="text-xs-center">
                                        <i><h3 class="mb-0">
                                            What seperates <b>Meraki Code</b>  is the attidue and the service you will recieve. 
                                        </h3></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="sct-color-2">
                        <div class="">
                            <div class="row flex flex-items-xs-middle">
                                <div class="col col-md-6 col-sm-12 col-xs-12">
                                    <img src="assets/meraki_code/prv/other/img-2-1000x900.jpg" class="img-responsive img-center" alt="">
                                </div>

                                <div class="col col-md-6 col-sm-12 col-xs-12">
                                    <div class="px-3 py-3">
                                        <h3 class="heading heading-4 strong-600">
                                            What recommends us
                                        </h3>

                                        <p class="mt-1 mb-2">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                                        </p>

                                        <div class="pl-2">
                                            <ul class="icons">
                                                <li>
                                                    <a href="#">
                                                        <i class="icon ion-checkmark-round c-base-1"></i>
                                                        Everything you need in one template
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="icon ion-checkmark-round c-base-1"></i>
                                                        Business and multi domain layouts
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="icon ion-checkmark-round c-base-1"></i>
                                                        Enhanced design and functionality
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="icon ion-checkmark-round c-base-1"></i>
                                                        Complete shop layouts
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="icon ion-checkmark-round c-base-1"></i>
                                                        Responsive on any device
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>

                                        <a href="#" class="btn btn-sm btn-base-4 mt-3">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- PORTFOLIO -->
                    <section class="slice">
                        <div class="container text-center">
                            <div class="container-fluid">
                                <div class="section-title section-title--style-1 text-xs-center">
                                    <h3 class="section-title-inner heading-5 strong-300 text-uppercase">
                                        Featured <strong class="strong-600">projects</strong>
                                    </h3>
                                    <span class="section-title-delimiter clearfix"></span>
                                </div>

                                <div id="js-filters-full-width" class="cbp-l-filters-button">
                                    <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
                                        All <div class="cbp-filter-counter"></div>
                                    </div>
                                    <div data-filter=".identity" class="cbp-filter-item">
                                        Identity <div class="cbp-filter-counter"></div>
                                    </div>
                                    <div data-filter=".web-design" class="cbp-filter-item">
                                        Web Design <div class="cbp-filter-counter"></div>
                                    </div>
                                    <div data-filter=".graphic" class="cbp-filter-item">
                                        Graphic <div class="cbp-filter-counter"></div>
                                    </div>
                                    <div data-filter=".logos" class="cbp-filter-item">
                                        Logo <div class="cbp-filter-counter"></div>
                                    </div>
                                </div>
                            </div>

                            <!-- PORTFOLIO ITEMS -->
                            <div class="cbp-items-wrapper">
                                <div id="js-grid-full-width" class="cbp">
                                    <div class="cbp-item web-design">
                                        <a href="portfolio-item-1.html" class="cbp-caption">
                                            <div class="cbp-caption-defaultWrap">
                                                  <img src="assets/meraki_code/prv/work/business/img-1.jpg">
                                                                                        </div>
                                            <div class="cbp-caption-activeWrap">
                                                <div class="cbp-l-caption-alignCenter">
                                                    <div class="cbp-l-caption-body">
                                                        <div class="cbp-l-caption-title"><span>Silken Truth</span></div>
                                                        <div class="cbp-l-caption-desc">January 03, 2017</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="cbp-item web-design">
                                        <a href="portfolio-item-1.html" class="cbp-caption">
                                            <div class="cbp-caption-defaultWrap">
                                               <img src="assets/meraki_code/prv/work/business/img-2.jpg">
                                                                                            </div>
                                            <div class="cbp-caption-activeWrap">
                                                <div class="cbp-l-caption-alignCenter">
                                                    <div class="cbp-l-caption-body">
                                                        <div class="cbp-l-caption-title"><span>The Cold Ice</span></div>
                                                        <div class="cbp-l-caption-desc">January 03, 2017</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="cbp-item motion identity">
                                        <a href="portfolio-item-1.html" class="cbp-caption">
                                            <div class="cbp-caption-defaultWrap">
                                              <img src="assets/meraki_code//prv/work/business/img-3.jpg">
                                                                                            </div>
                                            <div class="cbp-caption-activeWrap">
                                                <div class="cbp-l-caption-alignCenter">
                                                    <div class="cbp-l-caption-body">
                                                        <div class="cbp-l-caption-title"><span>Soaring of Stars</span></div>
                                                        <div class="cbp-l-caption-desc">January 03, 2017</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="cbp-item identity graphic">
                                        <a href="portfolio-item-1.html" class="cbp-caption">
                                            <div class="cbp-caption-defaultWrap">
                                            <img src="assets/meraki_code/prv/work/business/img-4.jpg">
                                                                                            </div>
                                            <div class="cbp-caption-activeWrap">
                                                <div class="cbp-l-caption-alignCenter">
                                                    <div class="cbp-l-caption-body">
                                                        <div class="cbp-l-caption-title"><span>The Silence's Heat</span></div>
                                                        <div class="cbp-l-caption-desc">January 03, 2017</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="cbp-item identity logos">
                                        <a href="portfolio-item-1.html" class="cbp-caption">
                                            <div class="cbp-caption-defaultWrap">
                                              <img src="assets/meraki_code/prv/work/business/img-5.jpg">
                                                                                            </div>
                                            <div class="cbp-caption-activeWrap">
                                                <div class="cbp-l-caption-alignCenter">
                                                    <div class="cbp-l-caption-body">
                                                        <div class="cbp-l-caption-title"><span>The Male of Elves</span></div>
                                                        <div class="cbp-l-caption-desc">January 03, 2017</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="cbp-item identity logos">
                                        <a href="portfolio-item-1.html" class="cbp-caption">
                                            <div class="cbp-caption-defaultWrap">
                                               <img src="assets/meraki_code/prv/work/business/img-6.jpg">
                                                                                            </div>
                                            <div class="cbp-caption-activeWrap">
                                                <div class="cbp-l-caption-alignCenter">
                                                    <div class="cbp-l-caption-body">
                                                        <div class="cbp-l-caption-title"><span>Sword in the Heart</span></div>
                                                        <div class="cbp-l-caption-desc">January 03, 2017</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="cbp-item identity graphic">
                                        <a href="portfolio-item-1.html" class="cbp-caption">
                                            <div class="cbp-caption-defaultWrap">
                                                 <img src="assets/meraki_code/prv/work/business/img-7.jpg">
                                                                                            </div>
                                            <div class="cbp-caption-activeWrap">
                                                <div class="cbp-l-caption-alignCenter">
                                                    <div class="cbp-l-caption-body">
                                                        <div class="cbp-l-caption-title"><span>The Silence's Heat</span></div>
                                                        <div class="cbp-l-caption-desc">January 03, 2017</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="cbp-item identity logos">
                                        <a href="portfolio-item-1.html" class="cbp-caption">
                                            <div class="cbp-caption-defaultWrap">
                                              <img src="assets/meraki_code/prv/work/business/img-8.jpg">
                                                                                            </div>
                                            <div class="cbp-caption-activeWrap">
                                                <div class="cbp-l-caption-alignCenter">
                                                    <div class="cbp-l-caption-body">
                                                        <div class="cbp-l-caption-title"><span>The Male of Elves</span></div>
                                                        <div class="cbp-l-caption-desc">January 03, 2017</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-3 text-xs-center">
                                <a href="#" class="btn btn-sm btn-base-4 btn-circle">See all projects</a>
                            </div>
                        </div>
                    </section>

                    <section class="sct-color-1 text-xs-center">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-3 col-sm-6">
                                    <div class="milestone-counter">
                                        <div class="milestone-count c-gray-dark strong-600" data-from="0" data-to="300" data-speed="5000" data-refresh-interval="100"></div>
                                        <span>+</span>
                                        <h4 class="milestone-info c-gray-light">Projects</h4>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="milestone-counter">
                                        <div class="milestone-count c-gray-dark strong-600" data-from="0" data-to="299" data-speed="5000" data-refresh-interval="50"></div>
                                        <span>+</span>
                                        <h4 class="milestone-info c-gray-light">Events</h4>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="milestone-counter">
                                        <div class="milestone-count c-gray-dark strong-600" data-from="0" data-to="50" data-speed="5000" data-refresh-interval="80"></div>
                                        <span>+</span>
                                        <h4 class="milestone-info c-gray-light">Awards</h4>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="milestone-counter">
                                        <div class="milestone-count c-gray-dark strong-600" data-from="0" data-to="100" data-speed="5000" data-refresh-interval="80"></div>
                                        <span>+</span>
                                        <h4 class="milestone-info c-gray-light">Team members</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="slice slice-lg has-bg-cover" style="background: url('assets/meraki_code/backgrounds/section/img-1.jpg');">
                        <div class="mask mask-light--style-2"></div>
                        <div class="container text-center">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2 class="heading heading-2 strong-600 c-gray-dark">
                                        Complete features at your hand
                                    </h2>
                                    <div class="fluid-paragraph paragraph-md">
                                        <p class="c-gray-dark mt-2">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris quisque adipiscing lobortis aptent cras et justo.
                                        </p>

                                        <div class="btn-container mt-3">
                                            <a href="#" class="btn btn-lg btn-base-4">Our services</a>
                                            <a href="#" class="btn btn-lg btn-base-1">Meet the team</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="slice sct-color-1">
                        <div class="container">
                            <div class="section-title section-title--style-1 text-xs-center">
                                <h3 class="section-title-inner heading-5 strong-300 text-uppercase">
                                    Our <strong class="strong-600">expertise</strong>
                                </h3>
                                <span class="section-title-delimiter clearfix"></span>
                            </div>

                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <!-- Collapse - Style 4 -->
                                    <div class="panel-group panel-group--style-4" id="collapseFive">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#collapseFive" href="#collapseFive-1" aria-hidden="false" aria-expanded="true">
                                                        <span class="collapse-heading-icon">
                                                            <i class="ion ion-ios-chatboxes-outline"></i>
                                                        </span>
                                                        Lorem ipsum dolor sit amet
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseFive-1" class="panel-collapse collapse in">
                                                <div class="panel-body">
                                                    <p>
                                                        Effects present letters inquiry no an removed or friends. Desire behind latter me though in. Supposing shameless am he engrossed up additions. My possible peculiar together to. Desire so better am cannot he up before points. Remember mistaken opinions it pleasure of debating.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#collapseFive" href="#collapseFive-2">
                                                        <span class="collapse-heading-icon">
                                                            <i class="ion ion-ios-cog-outline"></i>
                                                        </span>
                                                        Curabitur et diam vitae dolor aliquet
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseFive-2" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>
                                                        Nam ullamcorper imperdiet luctus. Vestibulum tincidunt malesuada mi, in posuere augue cursus nec. Morbi et vehicula risus, fermentum lacinia justo. Etiam tellus arcu, eleifend tristique enim rutrum iaculis risus, id tincidunt dui fringilla sed bibendum lorem.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#collapseFive" href="#collapseFive-3">
                                                        <span class="collapse-heading-icon">
                                                            <i class="ion ion-ios-heart-outline"></i>
                                                        </span>
                                                        Proin faucibus sem sed dapibus
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseFive-3" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>
                                                        Etiam cursus pellentesque neque, eget ullamcorper augue eleifend a. In sit amet pulvinar purus. Ut in nibh tortor. Nullam quis magna sed nunc facilisis blandit vel at erat. Donec blandit et nulla sed lacinia. Quisque ullamcorper tincidunt ante, ut feugiat felis consectetur ut.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- End: Collapse - Style 4 -->
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="slice sct-color-2 relative">
                        <div class="container">
                            <div class="section-title section-title--style-1 text-xs-center">
                                <h3 class="section-title-inner heading-5 strong-300 text-uppercase">
                                    Latest <strong class="strong-600">articles</strong>
                                </h3>
                                <span class="section-title-delimiter clearfix"></span>
                            </div>

                            <div class="row">
                                <div class="col-md-4 col-sm-12">
                                    <div class="block block--style-3 z-depth-1-bottom z-depth-3--hover">
                                        <div class="block-image relative">
                                            <div class="view view-second">
                                                     <img src="assets/meraki_code//prv/news/creative/img-1.jpg">
                                                            <div class="mask mask-base-1--style-2">
                                                    <div class="view-buttons">
                                                        <div class="view-buttons-inner text-xs-center">
                                                            <a href="#" class="c-white" data-toggle="tooltip" data-original-title="Read this article" date-placement="top">
                                                                <i class="icon ion-link"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="block-body">
                                            <small><em>September 03, 2016</em></small>
                                            <h3 class="heading heading-5 strong-500">
                                                <a href="#">Clamtown weekly news</a>
                                            </h3>
                                            <span class="label bg-base-1 text-uppercase mb-1">
                                                <a href="">Branding/Design</a>
                                            </span>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore et dolore.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-12">
                                    <div class="block block--style-3 z-depth-1-bottom z-depth-3--hover">
                                        <div class="block-image relative">
                                            <div class="view view-second">
                                              <img src="assets/meraki_code//prv/news/creative/img-2.jpg">
                                                     <div class="mask mask-base-1--style-2">
                                                    <div class="view-buttons text-xs-center">
                                                        <div class="view-buttons-inner text-xs-center">
                                                            <a href="#" class="c-white" data-toggle="tooltip" data-original-title="Read this article" date-placement="top">
                                                                <i class="icon ion-link"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="block-body">
                                            <small><em>September 03, 2017</em></small>
                                            <h3 class="heading heading-5 strong-500">
                                                <a href="#">Fall in love with Tribus</a>
                                            </h3>
                                            <span class="label bg-purple text-uppercase mb-1">
                                                <a href="">Branding</a>
                                            </span>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore et dolore.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-12">
                                    <div class="block block--style-3 z-depth-1-bottom z-depth-2--hover">
                                        <div class="block-image relative">
                                            <div class="view view-second">
                                                          <img src="assets/meraki_code//prv/news/creative/img-3.jpg">
                                                                   <div class="mask mask-base-1--style-2">
                                                    <div class="view-buttons text-xs-center">
                                                        <div class="view-buttons-inner text-xs-center">
                                                            <a href="#" class="c-white" data-toggle="tooltip" data-original-title="Read this article" date-placement="top">
                                                                <i class="icon ion-link"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="block-body">
                                            <small><em>September 03, 2017</em></small>
                                            <h3 class="heading heading-5 strong-500">
                                                <a href="#">Cracking the Tribus code</a>
                                            </h3>
                                            <span class="label bg-pink text-uppercase mb-1">
                                                <a href="">Marketing</a>
                                            </span>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore et dolore.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- FOOTER -->
                    <footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-4">
                    <div class="col">
                       <h4 class="heading heading-xs strong-600 text-uppercase mb-1">
                          Main menu
                       </h4>

                       <ul class="footer-links">
                            <li>
                                <a href="index.html" title="Home">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="about-creative.html" title="About us">
                                    About us
                                </a>
                            </li>
                            <li>
                                <a href="services-creative.html" title="Services">
                                    Services
                                </a>
                            </li>
                            <li>
                                <a href="blog-cards-sidebar-left.html" title="Blog">
                                    Blog
                                </a>
                            </li>
                            <li>
                                <a href="contact-card.html" title="Contact">
                                    Contact
                                </a>
                            </li>
                        </ul>
                     </div>
                </div>

                <div class="col-md-2 col-sm-4">
                    <div class="col">
                       <h4 class="heading heading-xs strong-600 text-uppercase mb-1">
                           Help and support
                       </h4>

                       <ul class="footer-links">
                            <li>
                                <a href="" title="Help center">
                                    Help center
                                </a>
                            </li>
                            <li>
                                <a href="" title="Discussions">
                                    Discussions
                                </a>
                            </li>
                            <li>
                                <a href="" title="Contact support">
                                    Contact support
                                </a>
                            </li>
                            <li>
                                <a href="" title="Knowledge center">
                                    Knowledge center
                                </a>
                            </li>
                            <li>
                                <a href="" title="Jobs">
                                    FAQ
                                </a>
                            </li>
                        </ul>
                     </div>
                </div>

                <div class="col-md-2 col-sm-4">
                    <div class="col">
                       <h4 class="heading heading-xs strong-600 text-uppercase mb-1">
                           Our services
                       </h4>

                       <ul class="footer-links">
                            <li>
                                <a href="" title="Help center">
                                    Concept
                                </a>
                            </li>
                            <li>
                                <a href="" title="Discussions">
                                    UI/UX design
                                </a>
                            </li>
                            <li>
                                <a href="" title="Contact support">
                                    Web developement
                                </a>
                            </li>
                            <li>
                                <a href="" title="Knowledge center">
                                    Custom solutions
                                </a>
                            </li>
                            <li>
                                <a href="" title="Jobs">
                                    Branding
                                </a>
                            </li>
                        </ul>
                     </div>
                </div>

                <span class="space-sm-only-3"></span>

                <div class="col-md-3 col-sm-6">
                    <div class="col">
                        <h4 class="heading heading-xs strong-600 text-uppercase mb-1">
                            From the blog
                        </h4>

                        <ul class="footer-links">
                            <li>
                                <a href="" title="">Clamtown weekly news</a>
                                <small class="footer-link-date">June 20, 2017</small>
                            </li>
                            <li class="">
                                <a href="" title="">Fall in love with Tribus</a>
                                <small class="footer-link-date">June 18, 2017</small>
                            </li>
                            <li class="">
                                <a href="" title="">Cracking the Tribus code</a>
                                <small class="footer-link-date">March 30, 2017</small>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="col">
                        <h4 class="heading heading-xs strong-600 text-uppercase mb-1">
                            Check our feed
                        </h4>

                        <div class="photostream">
                            <span class="photo-wrapper">
                                <a href="assets/meraki_code/prv/blog/img-1-200x200.jpg" class="theater">
                                    <img src="assets/meraki_code/prv/blog/img-1-200x200.jpg">
                                </a>
                            </span>
                            <span class="photo-wrapper">
                                <a href="assets/meraki_code/prv/blog/img-2-200x200.jpg" class="theater">
                                    <img src="assets/meraki_code/prv/blog/img-2-200x200.jpg">
                                </a>
                            </span>
                            <span class="photo-wrapper">
                                <a href="assets/meraki_code/prv/block-img-3.jpg" class="theater">
                                    <img src="assets/meraki_code/prv/blog/img-3-200x200.jpg">
                                </a>
                            </span>
                            <span class="photo-wrapper">
                                <a href="assets/meraki_code/prv/block-img-4.jpg" class="theater">
                                    <img src="assets/meraki_code/prv/blog/img-4-200x200.jpg">
                                </a>
                            </span>
                            <span class="photo-wrapper">
                                <a href="assets/meraki_code/prv/block-img-5.jpg" class="theater">
                                    <img src="assets/meraki_code/prv/blog/img-5-200x200.jpg">
                                </a>
                            </span>
                            <span class="photo-wrapper">
                                <a href="assets/meraki_code/prv/block-img-6.jpg" class="theater">
                                    <img src="assets/meraki_code/prv/blog/img-6-200x200.jpg">
                                </a>
                            </span>
                            <span class="photo-wrapper">
                                <a href="assets/meraki_code/prv/block-img-7.jpg" class="theater">
                                    <img src="assets/meraki_code/prv/blog/img-7-200x200.jpg">
                                </a>
                            </span>
                            <span class="photo-wrapper">
                                <a href="assets/meraki_code/prv/block-img-8.jpg" class="theater">
                                    <img src="assets/meraki_code/prv/blog/img-8-200x200.jpg">
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="footer-bottom">
        <div class="container">
            <div class="row flex flex-items-xs-middle">
                <div class="col col-sm-7 col-xs-12">
                    <div class="copyright">
                        Copyright &copy; 2017                        <a href="http://webpixels.io" target="_blank" title="Webpixels - Official Website">
                            <strong>Webpixels</strong>
                        </a> -
                        All rights reserved
                    </div>
                </div>
                <div class="col col-sm-5 col-xs-12">
                    <div class="text-xs-right">
                        <ul class="social-media social-media--style-1-v4">
                            <li>
                                <a href="#" class="facebook" target="_blank" data-toggle="tooltip" data-original-title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="instagram" target="_blank" data-toggle="tooltip" data-original-title="Instagram">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="dribbble" target="_blank" data-toggle="tooltip" data-original-title="Dribbble">
                                    <i class="fa fa-dribbble"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="dribbble" target="_blank" data-toggle="tooltip" data-original-title="Github">
                                    <i class="fa fa-github"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
                </div>
            </div>
        </div><!-- END: st-pusher -->
    </div><!-- END: st-container -->
</div><!-- END: body-wrap -->

<%= render 'shared/javascripts' %>


