
<!-- SCRIPTS -->
<a href="#" class="back-to-top"></a>
<!-- Required JSs -->
<script src="assets/meraki_code/jquery.js"></script>
<script src="assets/meraki_code/jquery-ui.min.js"></script>

<!-- Essential JSs -->
<script src="assets/meraki_code/bootstrap.min.js"></script>
<script src="assets/meraki_code/bootstrap-extensions/bootstrap-dropdownhover.js"></script>
<script src="assets/meraki_code/bootstrap-extensions/bootstrap-dropdowneffect.js"></script>
<script src="assets/meraki_code/bootstrap-extensions/bootstrap-validator.js"></script>
<script src="assets/meraki_code/modernizr.custom.js"></script>
<script src="assets/meraki_code/jquery.mousewheel-3.0.6.pack.js"></script>
<script src="assets/meraki_code/jquery.easing.js"></script>
<script src="assets/meraki_code/classie.js"></script>
<script src="assets/meraki_code/slidebar/slidebar.js"></script>

<!-- Assets - Required -->
<script src="assets/meraki_code/headroom.min.js"></script>
<script src="assets/meraki_code/jquery.headroom.min.js"></script>
<script src="assets/meraki_code/footer-reveal.min.js"></script>
<script src="assets/meraki_code/bootstrap-select.min.js"></script>
<script src="assets/meraki_code/swiper.min.js"></script>
<script src="assets/meraki_code/parallax.min.js"></script>
<script src="assets/meraki_code/viewportchecker.min.js"></script>
<script src="assets/meraki_code/jquery.countTo.js"></script>

<!-- Light Gallery -->
<script src="assets/meraki_code/lightgallery.min.js"></script>
<script src="assets/meraki_code/lg-thumbnail.min.js"></script>
<script src="assets/meraki_code/lg-video.js"></script>
<!-- Cross-browser responsivity scripts -->
<!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
<![endif]-->

<!-- Google Analitycs JS -->
<script type="text/javascript" src="assets/meraki_code/wpx.ga.js"></script>


<!-- RS5.0 Core JS Files -->
<script src="assets/meraki_code/pace.min.js"></script>
<script type="text/javascript" src="assets/meraki_code/revolution/js/jquery.themepunch.tools.min.js?rev=5.0"></script>
<script type="text/javascript" src="assets/meraki_code/revolution/js/jquery.themepunch.revolution.min.js?rev=5.0"></script>
<script type="text/javascript" src="assets/meraki_code/revolution/js/jquery.themepunch.tools.min.js?rev=5.0"></script>
<script type="text/javascript" src="assets/meraki_code/revolution/js/jquery.themepunch.revolution.min.js?rev=5.0"></script>
<script type="text/javascript" src="assets/meraki_code/revolution/revolution-slider-3.js"></script>
<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
<script type="text/javascript" src="assets/meraki_code/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="assets/meraki_code/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script type="text/javascript" src="assets/meraki_code/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="assets/meraki_code/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="assets/meraki_code/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="assets/meraki_code/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="assets/meraki_code/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="assets/meraki_code/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="assets/meraki_code/revolution/js/extensions/revolution.extension.video.min.js"></script>

<!-- Cube Portfolio -->
<script src="assets/meraki_code/jquery.cubeportfolio.min.js"></script>
<script src="assets/meraki_code/main.4-col.space.grid.js"></script>

<!-- App JS -->
<script src="assets/meraki_code/wpx.app.js"></script>