<!DOCTYPE html>

<html lang="en">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="index, follow">
<title>MerakiCode</title>

<!-- Page loader -->
<link rel="stylesheet" href="assets/meraki_code/pace-minimal.css" type="text/css">

<!-- Bootstrap -->
<link rel="stylesheet" href="assets/meraki_code/bootstrap.min.css" type="text/css">

<!-- CSS animation library -->
<link rel="stylesheet" href="assets/meraki_code/animate.min.css" type="text/css">

<link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,700" rel="stylesheet">

<!-- Plugins -->
<link rel="stylesheet" href="assets/meraki_code/bootstrap-select.min.css">
<link rel="stylesheet" href="assets/meraki_code/swiper.min.css">

<!-- Light Gallery -->
<link rel="stylesheet" href="assets/meraki_code/lightgallery.min.css">

<!-- Icons -->
<link rel="stylesheet" href="assets/meraki_code/font-awesome/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="assets/meraki_code/ionicons/css/ionicons.min.css" type="text/css">
<link rel="stylesheet" href="assets/meraki_code/line-icons/line-icons.css" type="text/css">
<link rel="stylesheet" href="assets/meraki_code/line-icons-pro/line-icons-pro.css" type="text/css">

<!-- Global style (main) -->
<link id="stylesheet" type="text/css" href="assets/meraki_code/global-style.min.css" rel="stylesheet" media="screen">
<!-- Custom style - Remove if not necessary -->
<link type="text/css" href="assets/meraki_code/custom-style.css" rel="stylesheet">

<!-- Favicon -->
<link href="assets/meraki_code/favicon.png" rel="icon" type="image/png">


<!-- RS5.0 -->
<link rel="stylesheet" type="text/css" href="assets/meraki_code/revolution/css/settings.css">
<link rel="stylesheet" type="text/css" href="assets/meraki_code/revolution/css/layers.css">
<link rel="stylesheet" type="text/css" href="assets/meraki_code/revolution/css/navigation.css">

<!-- Cube Portfolio -->
<link rel="stylesheet" href="assets/meraki_code/cubeportfolio.min.css">

  </head>

<body>
<%= render 'shared/navbar' %>
    <%= yield %>
  </body>
</html>